<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>My Personal Blog</title>
    <meta name="author" content="John Paul Jayme"/>
    <meta name="description" content="My personal blog, engulfing my idiosyncracies
 concerning the world, my love for the minuteness of the day, the power of literature
 inhabiting the landscapes of my mind, and the power programming has given me."/>
    <link rel="stylesheet" type="text/css" th:href="@{css/createpost.css}" />
</head>
<body>
    <form hx-post="/blog"
          hx-target="body"
          id="create__post__container"
    >
        <div id="title_label">
            <label>Title:</label>
        </div>
        <div id="title_input">
            <input id="title" name="title" placeholder="Input title" required/>
        </div>

        <div id="image_label">
            <label>S3 Bucket Image Path:</label>

        </div>
        <div id="image_input">
            <input id="imagePath" name="imagePath" placeholder="Input image path" required/>
        </div>

        <div id="content_label">

        </div>
        <div id="content_textarea">

            <textarea id="body"
                      name="body"
                      placeholder="Input content"
                      required
                      rows="30"
            ></textarea>
        </div>

        <div id="button_group">

            <button hx-get="/home"
                    hx-target="body"
            >
                Go back
            </button>

            <input type="submit" value="Submit"/>
        </div>
    </form>
</body>
</html>
