<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<main th:fragment="feature (post)"
      id="feature_wrapper"
>
    <div
         th:style="'background: url(' + ${post.imagePath} + ') no-repeat center center/cover;'">
    </div>
    <div id="feature_content">
        <h2 th:text="${post.title}"
            th:hx-get="@{/blog/{id}(id=${post.id})}"
            hx-target="body"
        >Dummy title</h2>
        <h4 th:text="${#strings.substring(post.body, 0, 200)} + '...'"></h4>
    </div>
</main>

<article th:fragment="excerpt (post)"
         class="posts__post__article"
>
    <div>
        <img th:src="${post.imagePath}"/>
    </div>
    <div>
        <h2 th:text="${post.title}"
            th:hx-get="@{/blog/{id}(id=${post.id})}"
            hx-target="main"
        >Dummy title</h2>
    </div>
    <div>
        <h4 th:text="${#strings.substring(post.body, 0, 100)} + '...'"></h4>
    </div>
</article>
</body>
</html>