<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>The Fig Tree</title>
    <meta name="author" content="John Paul Jayme"/>
    <meta name="description" content="My personal blog, engulfing my idiosyncracies
 concerning the world, my love for the minuteness of the day, the power of literature
 inhabiting the landscapes of my mind, and the power programming has given me."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="/js/htmx.min.js"></script>
    <script defer src="/js/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/createpost.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/post.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
</head>
<body hx-boost="true">
<div class='grid__wrapper'>
    <header>
        <h1 hx-get="/home" hx-target="body">THE FIG TREE</h1>
        <div class="hamburger" onclick="openNav()">
            <i class="fa fa-bars fa-2x"></i>
        </div>
    </header>
    <div th:replace="~{fragments ::feature (${featurePost}) }">
    </div>
<!--    th:if="${!postStat.first}"-->
    <div class="posts">
        <div th:each="partition, partitionStat : ${partitionedListOfPosts}">
            <div class="posts__row"
                 th:style="'grid-template-columns: repeat(' + ${partition.size()} + ', 1fr);'">
                <article th:each="post, postStat : ${partition}"
                     class="posts__post">
                    <div th:replace="~{fragments ::excerpt(${post})}"></div>
                </article>
            </div>
        </div>
    </div>
    <nav>
        <div class="nav__content">
            <span onclick="closeNav()">Close</span>
            <a href=''>About</a>
            <a href=''>Github</a>
        </div>
    </nav>
    <footer>
        Footer
    </footer>
</div>
</body>
</html>