<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>My Personal Blog</title>
    <meta name="author" content="John Paul Jayme"/>
    <meta name="description" content="My personal blog, engulfing my idiosyncracies
 concerning the world, my love for the minuteness of the day, the power of literature
 inhabiting the landscapes of my mind, and the power programming has given me."/>
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}" />
</head>
<body hx-boost="true">
<div class='wrapper'>
    <header>
        <h1>The Mayhm Review</h1>
        <h2>Reviews on Literature, Film, and Music</h2>
    </header>

    <nav>
        <div class="nav__content">
<!--            <span onclick="closeNav()">Close</span>-->
            <span>Close</span>
            <a href=''>About</a>
            <a href=''>Github</a>
        </div>
    </nav>
    <span onclick="openNav()">Open</span>
    <main hx-get="http://localhost:8083/blog" hx-trigger="load">
        <div th:each="post : ${posts}">
            <article>
                <div>
                    <h2 th:text="${post.title}">Dummy title</h2>
                </div>
                <h3 th:text="${post.dateCreated}">Current date</h3>
            </article>
        </div>
    </main>
    <footer>
        Footer
    </footer>
</div>
</body>
</html>