<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>My Personal Blog</title>
    <meta name="author" content="John Paul Jayme"/>
    <meta name="description" content="My personal blog, engulfing my idiosyncracies
 concerning the world, my love for the minuteness of the day, the power of literature
 inhabiting the landscapes of my mind, and the power programming has given me."/>

</head>
<body>
<article>
    <h2 th:text="${post.title}">Dummy title</h2>
    <p th:text="${post.body}">Body...</p>
    <button hx-get="/home" hx-target="body">Home</button>
</article>
</body>
</html>
